.whatsapp {
    position: fixed;
    left: 25px;
    bottom: 20px;
    z-index: 999;
    margin-bottom: 20px !important;
}

.whatsapp img {
    width: 60px;
    height: 60px;
}

.whatsapp:hover {
    opacity: 0.7 !important;
    filter: alpha(opacity=70) !important;
}